# Proyecto #2 - Seleccionando Filas y Columnas de Un Dataset de Clínicas

Importe pandas

In [1]:
import pandas as pd

Creamos por usted el siguiente dataframe

In [38]:
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west']
)
df

      month  clinic_east  clinic_north  clinic_south  clinic_west
0   January          100           100            23          100
1  February           51            45           145           45
2     March           81            96            65           96
3     April           80            80            54          180
4       May           51            54            54          154
5      June          112           109            79          129

Usted quiere analizar que esta pasando con la clinica del norte. Cree una variable llamada: `clinic_north` que contenga solo los datos de la columna `clinic_north`. Llamela como indice y llamela con notacion de punto. Imprima ambas

In [48]:
clinic_north = df['clinic_north']
print(clinic_north)

0    100
1     45
2     96
3     80
4     54
5    109
Name: clinic_north, dtype: int64

Despues de crear estas variables, averigue de que tipo son con el comando `type`

In [5]:
type(clinic_north)

pandas.core.series.Series

Ahora susted quiere comparar las visitas de la clinica norte con la del sur. Cree una variable llamada `clinic_north_south` que contenga solo las columnas `clinic_north` y `clinic_south`

In [12]:
clinic_north_south = df[['clinic_north', 'clinic_south']]
print(clinic_north_south)

   clinic_north  clinic_south
0           100            23
1            45           145
2            96            65
3            80            54
4            54            54
5           109            79

Cuando seleccionamos multiples columnas que obtenemos, una Series o un DataFrame? Averiguelo con el metodo `type`

In [13]:
type(clinic_north_south)

pandas.core.frame.DataFrame

Quieres ahora saber cuántas visitas tuvieron lugar en marzo del año pasado. Escriba un comando que produzca una serie compuesta por los datos de marzo de las cuatro clinicas y guárdela en la variable `march`.

In [20]:
march = df.iloc[2]
print(march)

month           March
clinic_east        81
clinic_north       96
clinic_south       65
clinic_west        96
Name: 2, dtype: object

Uno de sus doctores cree que hay mas visitas a la clinica finalizando primavera. Escriba un comando que produzca un DataFrame con los datos de Abril, Mayo y Junio para todas las sedes de la clinica (filas de la 3 a la 6) y guardelas en una variable llamada `april_may_june`. Imprima el resultado

In [23]:
april_may_june = df.iloc[-3:]
print(april_may_june)

   month  clinic_east  clinic_north  clinic_south  clinic_west
3  April           80            80            54          180
4    May           51            54            54          154
5   June          112           109            79          129

Ahora usted quire saber cuantas visitas tuvieron lugar en Enero del año pasado. Cree una variable `January` usando una sentencia logica que seleccione la fila de `df` donde el `month` es `January`. E imprima esa variable

In [25]:
January = df[df.month == 'January']
print(January)

     month  clinic_east  clinic_north  clinic_south  clinic_west
0  January          100           100            23          100

Usted quiere ahora ver como el numero de visitas ha cambiado entre Marzo y Abril. Cree una variable llamada `march_april` que contenga los datos desde Marzo hasta Abril. Haga esto usando dos sentencias logicas combinadas usando `|` que significa OR. Imprima la variable

In [28]:
march_april = df[(df.month == 'March') | (df.month == 'April')]
print(march_april)

   month  clinic_east  clinic_north  clinic_south  clinic_west
2  March           81            96            65           96
3  April           80            80            54          180

Cree una nueva variable llamada `january_february_march` que contiene la data de Jan. Feb and Mar- Haz esto con una unica sentencia logica con el comando `isin`. Luego imprima la variable

In [31]:
january_february_march = df[df.month.isin(['January', 'February', 'March'])]
print(january_february_march)

      month  clinic_east  clinic_north  clinic_south  clinic_west
0   January          100           100            23          100
1  February           51            45           145           45
2     March           81            96            65           96

Examine el siguiente codigo

In [33]:
df2 = df.loc[[1, 3, 5]]

Ahora imprimalo

In [42]:
df2

      month  clinic_east  clinic_north  clinic_south  clinic_west
1  February           51            45           145           45
3     April           80            80            54          180
5      June          112           109            79          129

Cree un nuevo dataframe llamado `df3` reseteando los indices de `df2` (no use `inplace` o `drop`) Ha cambiado `df2` despues de que usted corrio el comando?

In [45]:
df3 = df2.reset_index()
df3

   index     month  clinic_east  clinic_north  clinic_south  clinic_west
0      1  February           51            45           145           45
1      3     April           80            80            54          180
2      5      June          112           109            79          129

Resetee los indices de `df2` usando el keyword `drop=True`. Han cambiando los indices de `df2`. En que son diferentes ahora `df2` de `df3`?

In [46]:
df3 = df2.reset_index(drop=True)
df3

      month  clinic_east  clinic_north  clinic_south  clinic_west
0  February           51            45           145           45
1     April           80            80            54          180
2      June          112           109            79          129