# Proyecto #8 - Haciendo Análisis de Funnels para un Ecommerce con 6 Data Sets - Parte 1

La empresa Cool T-Shirts acaba de crear un sitio web para ordenar productos por intenert. Ellos quieren analizar dos datasets

- `visits_site.csv` que contiene informacion de todas las visitas a la pagina
- `checkouts.csv` que contiene todos los usuarios que hicieron checkout en la pagina

Importe los datasets suministrados e imprimalos

### Ciudado: en el momento de usar el metodo `read_csv` pase un segundo parametro para parsear las fechas asi: `parse_dates=[1]`

In [1]:
import pandas as pd
visits = pd.read_csv('datasets/visits_site.csv', parse_dates=[1])
checkouts = pd.read_csv('datasets/checkouts.csv', parse_dates=[1])

In [2]:
visits.head()

                                user_id          visit_time
0  319350b4-9951-47ef-b3a7-6b252099905f 2017-02-21 07:16:00
1  7435ec9f-576d-4ebd-8791-361b128fca77 2017-05-16 08:37:00
2  0b061e73-f709-42fa-8d1a-5f68176ff154 2017-04-12 19:32:00
3  9133d6f0-e68b-4c8d-bafd-ff2825e8dafe 2017-08-18 04:32:00
4  08d13edb-071c-4cfb-9ee4-8f377d0e932a 2017-07-08 06:24:00

In [3]:
checkouts.head()

                                user_id       checkout_time
0  fe90a9f4-960a-4a0d-9160-e562adb79365 2017-11-09 09:25:00
1  1a35b7eb-f603-407d-91be-a2c3304066fd 2017-08-15 21:25:00
2  e2c24ee0-7fdf-4400-abde-b36378fe5ce6 2017-07-04 15:39:00
3  10dbd3c5-d610-44e9-9994-110a7950b6b4 2017-08-09 21:07:00
4  f028e9dd-77d0-4002-83f6-372a4837fda6 2017-10-27 08:57:00

Queremos saber la cantidad de tiempo que transcurre desde la visita inicial de un usuario a la página web hasta el momento en que empieza a realizar el proceso de compra.

para ello use `merge` para combinar `visits` y `checkouts` y guardelo en una variable `v_to_c`

In [5]:
v_to_c = pd.merge(visits, checkouts)
v_to_c

,user_id,visit_time,checkout_time
0,319350b4-9951-47ef-b3a7-6b252099905f,2017-02-21 07:16:00,2017-02-21 07:27:00
1,319350b4-9951-47ef-b3a7-6b252099905f,2017-02-21 07:16:00,2017-02-21 07:40:00
2,7435ec9f-576d-4ebd-8791-361b128fca77,2017-05-16 08:37:00,2017-05-16 08:49:00
3,7435ec9f-576d-4ebd-8791-361b128fca77,2017-05-16 08:37:00,2017-05-16 08:55:00
4,08d13edb-071c-4cfb-9ee4-8f377d0e932a,2017-07-08 06:24:00,2017-07-08 06:32:00
...,...,...,...
75,23a8d1be-3f5c-4b59-aed7-c7f19c51612b,2017-08-11 13:49:00,2017-08-11 14:11:00
76,8d9ac96c-16be-418e-8df4-1a6202d0b36e,2017-10-07 10:23:00,2017-10-07 10:24:00
77,8d9ac96c-16be-418e-8df4-1a6202d0b36e,2017-10-07 10:23:00,2017-10-07 10:52:00
78,5679519b-a901-4970-8656-dbf60ffb618d,2017-07-20 04:23:00,2017-07-20 04:24:00
79,fff8f87a-e4a2-4f2c-b3d4-93a4ece95c4f,2017-06-06 23:42:00,2017-06-07 00:11:00

Para calcular el tiempo entre la visita y el checkout, defina una columna `v_to_c` llamada `time`, la cual realiza el calculo de la diferencia. Llame el `.head()` para interpretar mejor el resultado y revise los tiempos de los usuarios en la nueva columna time!

In [6]:
v_to_c['time'] = v_to_c.checkout_time - v_to_c.visit_time

In [7]:
v_to_c.head()

,user_id,visit_time,checkout_time,time
0,319350b4-9951-47ef-b3a7-6b252099905f,2017-02-21 07:16:00,2017-02-21 07:27:00,00:11:00
1,319350b4-9951-47ef-b3a7-6b252099905f,2017-02-21 07:16:00,2017-02-21 07:40:00,00:24:00
2,7435ec9f-576d-4ebd-8791-361b128fca77,2017-05-16 08:37:00,2017-05-16 08:49:00,00:12:00
3,7435ec9f-576d-4ebd-8791-361b128fca77,2017-05-16 08:37:00,2017-05-16 08:55:00,00:18:00
4,08d13edb-071c-4cfb-9ee4-8f377d0e932a,2017-07-08 06:24:00,2017-07-08 06:32:00,00:08:00

Para obtener el tiempo promedio del checkout que codigo deberiamos ejecutar?

In [8]:
v_to_c.time.mean()

Timedelta('0 days 00:15:24.750000')